APP_NAME=WardenWG
APP_ENV=dev
DEBUG=true
DATABASE_URL=sqlite:///./wardenwg.db
TIMEZONE=Asia/Shanghai
MANAGER_BASE_URL=https://sub.wfqc8.cn
SUBSCRIPTION_BASE_URL=https://sub.wfqc8.cn
API_PREFIX=/api/v1
ADMIN_API_KEY=change-me
WG_CONFIG_NAME=wg0
WG_INTERFACE_MTU=1420
WG_PERSISTENT_KEEPALIVE=25
SSH_PORT=5522
SSH_USERNAME=root
SSH_PRIVATE_KEY_PATH=/run/secrets/wardenwg_ssh_key
SSH_PASSWORD=
TRAFFIC_COLLECTION_INTERVAL_MINUTES=5
DEFAULT_RULESET_BASE_URL=https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo
