proxies:
{% for peer in peers %}
  - name: "{{ node_compact_name(peer.node, user.username, device.name) }}"
    type: wireguard
    ip: {{ peer.client_address }}
    private-key: {{ peer.private_key }}
    udp: true
    mtu: {{ wg_interface_mtu }}
    persistent-keepalive: {{ wg_persistent_keepalive }}
    remote-dns-resolve: true
    dns:
      - 1.1.1.1
      - 8.8.8.8
    peers:
      - server: {{ peer.node.wg_endpoint_host }}
        port: {{ peer.node.wg_port }}
        public-key: {{ peer.node.wg_public_key }}
        allowed-ips:
          - 0.0.0.0/0
          - ::/0
{% endfor %}
